body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#container{
    display: flex;
    width: 50%;
    height: 200px;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}
#container>div{
    flex: 1;
    font-size: 10em;
    text-align: center;
}
.puntos{
    flex: none;
    width: 10px;
}